<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title th:text="${title}"></title>
  </head>
  <main layout:fragment="content">
    <div class="flex flex-row justify-between items-center">
      <h1 class="py-4 text-4xl font-bold">Product List</h1>
      <button
        th:replace="~{fragments/forms/product_new_form :: product_new_form(${product})}"
      ></button>
    </div>

    <div th:if="${errorMessage}" role="alert" class="alert alert-error">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <span th:text="${errorMessage}">Error! Task failed successfully.</span>
    </div>

    <table
      th:replace="~{fragments/tables/product_list :: product_list(${products})}"
    ></table>
  </main>
</html>
