<table
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="product_list(products)"
  class="table"
>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Created At</th>
      <th scope="col">Updated At</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr th:if="${#lists.isEmpty(products)}">
      <td colspan="4">No products found.</td>
    </tr>
    <tr th:each="product : ${products}">
      <td th:text="${product.id}"></td>
      <td
        th:text="${#numbers.formatDecimal(product.price,2,2,'COMMA') + ' R$'}"
      ></td>
      <td th:text="${product.description}"></td>
      <td
        th:text="${#temporals.format(product.createdAt,'dd/MM/yyyy HH:mm')}"
      ></td>
      <td
        th:text="${#temporals.format(product.updatedAt,'dd/MM/yyyy HH:mm')}"
      ></td>
      <td class="flex flex-row">
        <span
          th:replace="~{/fragments/forms/product_edit_form :: product_edit_form(product=${product})}"
        ></span>
        <a
          th:href="@{/products/delete/{id}(id=${product.id})}"
          th:onclick="return confirm('Are you sure?')"
          class="btn btn-link text-error pl-0"
        >
          Delete
        </a>
      </td>
    </tr>
  </tbody>
</table>
